<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Calculadora Normal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-card color="normal">
    <ion-item color="dark">
      <ion-label></ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-label>
        <h3>=</h3>
      </ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-card>

  <ion-grid>
    <ion-card color="normal">
      <ion-row>
        <ion-col size="3">
          <ion-button color="primary" size="large">
            <ion-label> C</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="primary" size="large">
            <ion-label>D</ion-label>
          </ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button color="primary" size="large">
            <ion-label> .</ion-label>
          </ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button color="primary" size="large">
            <ion-label> /</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3">
          <ion-button color="secondary" size="large">
            <ion-label> 7</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="secondary" size="large">
            <ion-label> 8 </ion-label>
          </ion-button>

        </ion-col>
        <ion-col size="3">
          <ion-button color="secondary" size="large">
            <ion-label> 9</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="primary" size="large">
            <ion-label> * </ion-label>
          </ion-button>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="3">
          <ion-button color="secondary" size="large">
            <ion-label> 4</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="secondary" size="large">
            <ion-label> 5 </ion-label>
          </ion-button>

        </ion-col>
        <ion-col size="3">
          <ion-button color="secondary" size="large">
            <ion-label> 6</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="primary" size="large">
            <ion-label> - </ion-label>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3">
          <ion-button color="secondary" size="large">
            <ion-label> 1</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="secondary" size="large">
            <ion-label> 2</ion-label>
          </ion-button>

        </ion-col>
        <ion-col size="3">
          <ion-button color="secondary" size="large">
            <ion-label> 3</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="primary" size="large">
            <ion-label> + </ion-label>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="3">
          <ion-button color="secondary" size="large">
            <ion-label> :)</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="3">
          <ion-button color="secondary" size="large">
            <ion-label> 0 </ion-label>
          </ion-button>

        </ion-col>
        <ion-col size="6">
          <ion-button color="primary" size="large" expand="block">
            <ion-label> = </ion-label>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>