.botoes{
    height:70px;
    width:70px;
    border-radius:90%;
    padding:2px;
    
}

ion-item{
    border-radius:7px !important;
}

.coluna{
    text-align:center;
    padding:2px;
    margin:10px;
}

.icone{
    zoom: 2;
}