.botoes{
    height:90px;
    width:90px;
    border-radius:70%;
    padding:20px;
    
}

ion-input{
    border-radius:20px !important;
}

.coluna{
    text-align: center;
    padding:5px;
    margin:30px;
}

.icone{
    zoom: 2;
}